*, *:before, *:after {
    box-sizing: border-box;
  }
  body {
    padding: 24px;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  .container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table {
    width: 100%;
    border: 1px solid #eeeeee;
  }
  .table-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: 18px 0;
  }
  .table-row {
    display: flex;
    width: 100%;
    padding: 18px 0;
    background-color: grey;
  }
  .table-row:nth-of-type(odd) {
    background: #eeeeee;
  }
  .table-data, .header__item {
    flex: 1 1 20%;
    text-align: center;
  }
  .header__item {
    text-transform: uppercase;
  }
  .filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
  }
  .filter__link::after {
    content: "";
    position: absolute;
    right: -18px;
    color: white;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .filter__link.desc::after {
    content: "(desc)";
  }
  .filter__link.asc::after {
    content: "(asc)";
  }
  
  @import url(https://fonts.googleapis.com/css?family=Lato);
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #1a1e23;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}
ul li {
  padding: 6px 0;
}
ul li a {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: #ecf0f1;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
ul li a:hover {
  color: #95a5a6;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


:root {
  --page-background: 277deg, 55%, 12%;
}

button {
  --text-base: 277deg, 55%, 40%;
  --text-hover: 307deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 90%, 50%;
  --shadow-inner: 277deg, 90%, 62%;
  all: unset;
  color: hsla(var(--text-base), 1);
  font: 700 1.125rem/1.2 Raleway, sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.85em;
  max-width: 100%;
  width: 12em;
  background: inherit;
  background-clip: padding-box;
  border: 5px solid hsla(var(--text-base), 1);
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}
button::before, button::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
button::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}
button::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
  mix-blend-mode: overlay;
  opacity: 0;
}
button:hover, button:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}
button:hover::before, button:hover::after, button:focus::before, button:focus::after {
  transform: none;
  opacity: 1;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  place-content: center;
  place-items: center;
}

body,
.container {
  background: hsla(var(--page-background), 1);
}

.container {
  padding: 3em;
  position: relative;
  z-index: 1;
}


